// Colors
$blue-color:        #006CB7;
$blue-dark-color:   darken($blue-color, 8%);
$blue-darker-color: darken($blue-color, 10%);

$red-color:         #CF1E2F;
$red-dark-color:    darken($red-color, 5%);
$red-darker-color:  darken($red-color, 10%);

$purple-color:		#AB31D4;